In [1]:
import pandas as pd

In [4]:
# importing csv weather data
df = pd.read_csv('C:/Users/khalid mansoor/Pandas For machine learning/Datasets/weather_data.csv')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [5]:
# If someOne wants to get first 3 or 4 rows then we have a head() function for that
df.head(3)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [6]:
# If someOne wants to get first 3 or 4 rows from the bottom then we have a tail() function for that
df.tail(3)

        day  temperature  windspeed  event
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [7]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

# Indexing and slicing in Dataframe

In [9]:
# now when someone asked to print rows from 1 to 3 so it means its called slicing and indexing
df[1:4]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow

In [12]:
df.temperature #or the prefer way is df['temperature']

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

In [15]:
df[['temperature','event']]

   temperature  event
0           32   Rain
1           35  Sunny
2           28   Snow
3           24   Snow
4           32   Rain
5           31  Sunny

In [16]:
df.shape #it can store values in tuple form so if someone wants to extract rows and columns from it then

(6, 4)

In [17]:
rows,columns = df.shape
rows

6

In [18]:
columns

4

In [19]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [21]:
# if someone wants to find the type of columns then use type() function for that
type(df['day'])

pandas.core.series.Series

In [22]:
type(df['temperature'])

pandas.core.series.Series

# Operations on Dataframe conditional operations

In [24]:
df['temperature'].max() #finding maximum value in temperature columns

35

In [25]:
df[['temperature','windspeed']].max()

temperature    35
windspeed       7
dtype: int64

In [26]:
df.temperature > 20

0    True
1    True
2    True
3    True
4    True
5    True
Name: temperature, dtype: bool

In [27]:
df[df['temperature']>32] #finding that row having greater temperature value than 32

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [28]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [29]:
df['temperature'].std()

3.8297084310253524

In [30]:
df['temperature'].mean()

30.333333333333332

In [50]:
df

   level_0  index       day  temperature  windspeed  event
0        0      0  1/1/2017           32          6   Rain
1        1      1  1/2/2017           35          7  Sunny
2        2      2  1/3/2017           28          2   Snow
3        3      3  1/4/2017           24          7   Snow
4        4      4  1/5/2017           32          4   Rain
5        5      5  1/6/2017           31          2  Sunny